.main {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
}

p {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
}


h1{
    color:#bda667;
}

.register-cont {
    text-align: center;
}

.main-navbar{
    background-color:#30353b;
}

.main-navbar a{
    color:#bda667;
}