.main {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
}

p {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
}


h1{
    color:#bda667;
}

.login-cont,
.register-cont {
    text-align: center;
}

.main-navbar{
    background-color:#30353b;
}

.main-navbar a{
    color:#bda667;
}

.users-cont{
    width:100%;
    position:relative;
    margin-left:50%;
    margin-right:50%;
    text-align:left;
}
.users-cont li{
    color:white;
    font-size:14px;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
}

button{
    background-color:#6b6146;
    height:30px;
    width:150px;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

.btn-primary{
    line-height:1 !important;
}



.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel.show{
    display:block;
}